---
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/Blog/Card.astro";
import { getCollection } from "astro:content";
import { fDate } from "developer-toolkit-utils";
import alert from "../../components/Alerts.astro";
import post from "../../components/Post.astro";

function fTime(date: Date) {
  const hours = date.getHours();
  const minutes = date.getMinutes();
  const ampm = hours >= 12 ? "pm" : "am";
  const fHours = hours % 12;
  const fMinutes = minutes < 10 ? `0${minutes}` : minutes;
  return `${fHours}:${fMinutes} ${ampm}`;
}

export async function getStaticPaths() {
  const sdkEntries = await getCollection("sdks");
  return sdkEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { data } = entry;

const { Content } = await entry.render();

const author = await getCollection("authors").then((authors) =>
  authors.find((author) => author.data.login === data.author)
);

const date = `${fDate(new Date(data.pubDate))} at ${fTime(
  new Date(data.pubDate)
)}`;
---

<Layout title={`${data.name}`} description={data.description}>
  <div class="vw-section">
    <div class="vw-container vw-container-xsmall">
      <article class="vw-article">
        <h1 class="vw-article-title">{data.name}</h1>
        <div
          class="vw-article-meta vw-margin-top vw-margin-medium-bottom vw-flex vw-flex-middle"
        >
          <img
            class="vw-border-circle avatar"
            src={author?.data.avatar_url}
            alt={author?.data.login}
          />
          <div>
            Made by {author?.data.login}<br />
            <time datetime={data.pubDate} id="sdk-time">{date}</time>
          </div>
        </div>
        <div class="article-content link-primary">
          <Content />
        </div>
      </article>

      <img src={data.icon} alt={data.name} id="sdk-img" style="display: none" />
    </div>
  </div>

  <script src="/js/docs.js" is:inline></script>
</Layout>
