---
import Layout from '../../layouts/Layout.astro'
import BlogCard from "../../components/Blog/Card.astro"
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout title='Blog'>
    <div class="vw-section">
        <div class="vw-container vw-container-xsmall">
            <h1 class="vw-article-title vw-text-center">Blog</h1>

            {posts.map((post) => (
               <BlogCard title={post.data.title} author={post.data.author} content={post.data.description} date={post.data.pubDate} slug={post.slug} />
            ))
            }
        </div>
    </div>
</Layout>