---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Sidebar from "../../../components/Wiki/Sidebar.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("software");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { data } = entry;

const { Content } = await entry.render();


const slugify = (str: string) => {
  return str
    .toLowerCase()
    .replace(/[^\w\s-]/g, "")
    .replace(/[\s_-]+/g, "-")
    .replace(/^-+|-+$/g, "");
}
---

<Layout title={data.title} description={data.description} img={data.image}>
  <div class="vw-section">
    <div class="vw-container">
      <div class="vw-grid-large" data-vw-grid>
        <Sidebar />
        <div class="vw-width-1-1 vw-width-expand@m">
          <article class="vw-article">
            <h1 class="vw-article-title">Software • {data.title}</h1>
            <p class="vw-text-lead vw-text-muted">{data.description}</p>
            <br />
            <div class="article-content link-primary">
              <h1 id={slugify(data.title)} style="text-align: center;">{data.title}</h1>
              <p>
                <img
                  src={data.main_image}
                  alt={`${data.title} main image`}
                  style="width: 100%; border-radius: 10px;"
                  loading="lazy"
                />
              </p>
              <Content />
            </div>
            <hr class="vw-margin-medium" />
          </article>
        </div>
      </div>
    </div>
  </div>
<script src="/js/@include/CheckD.js" is:inline></script>
  <script src="/js/docs.js" is:inline></script>
</Layout>
