---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { fDate } from "developer-toolkit-utils";
import Sidebar from "../../../components/Wiki/Sidebar.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("software");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { data } = entry;

const { Content } = await entry.render();

const author = await fetch(
  "https://api.github.com/repos/vtuberwiki/wiki/contributors"
)
  .then((response) => response.json())
  .then((contributors) => {
    return contributors.find((contributor: any) => {
      return contributor.login === data.author;
    });
  });
---

<Layout title={data.title} description={data.description} img={data.image}>
  <div class="vw-section">
    <div class="vw-container">
      <div class="vw-grid-large" data-vw-grid>
        <Sidebar />
        <div class="vw-width-1-1 vw-width-expand@m">
          <article class="vw-article">
            <h1 class="vw-article-title">Software • {data.title}</h1>
            <p class="vw-text-lead vw-text-muted">{data.description}</p>
            <br />
            <div class="article-content link-primary">
                <Content />
            </div>
            <hr class="vw-margin-medium" />
          </article>
        </div>
      </div>
    </div>
  </div>
</Layout>
