---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const changelog = await getCollection("changelog");
import { fDate, fTime } from "developer-toolkit-utils";



---

<Layout
  title="Changelog"
  description="When we release a new version of Vtuber Wiki we will post a changelog"
>
  <div class="vw-section">
    <div class="vw-container container-xxsmall">
      <h1 class="vw-article-title">Changelog</h1>
      <div class="article-content"><span><i class="bi bi-info-circle" style="color: #3778ff;"></i></span> When we release a new version of Vtuber Wiki we will post a changelog</div>
      <hr class="vw-margin-medium-bottom">
      <div class="vw-position-relative">
        
        {
          changelog.map((changelog) => (
          <article class="vw-article vw-margin-medium-top cl" data-id={changelog.slug}>
          <h2>{changelog.data.name}<span style="color: #dcddde; opacity: 0.9; font-size: 0.6em; margin-left: 5px;">({fDate(changelog.data.date)})</span></h2>
        <div class="vw-position-center-left-out vw-position-large vw-visible@m vw-text-small vw-text-muted">
        </div>
      <div class="article-content">
        
        {changelog.data.added ? <p><span class="vw-label" style="background-color: #3778ff"><i class="bi bi-plus-circle"></i> Added</span></p> <ul>{changelog.data.added.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.changed ? <p><span class="vw-label" style="background-color: #3aaa55"><i class="bi bi-question-lg"></i> Changed</span></p> <ul>{changelog.data.changed.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.deprecated ? <p><span class="vw-label" style="background-color: #333333"><i class="bi bi-exclamation-triangle"></i> Deprecated</span></p> <ul>{changelog.data.deprecated.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.fixed ? <p><span class="vw-label" style="background-color: #ff4772"><i class="bi bi-lightbulb"></i> Fixed</span></p> <ul>{changelog.data.fixed.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.removed ? <p><span class="vw-label" style="background-color: #ff3333"><i class="bi bi-dash-circle"></i> Removed</span></p> <ul>{changelog.data.removed.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.security ? <p><span class="vw-label" style="background-color: #fb3434"><i class="bi bi-shield"></i> Security</span></p> <ul>{changelog.data.security.map((add) => <li>{add}</li>)}</ul> : ""}
        {changelog.data.unreleased ? <p><span class="vw-label" style="background-color: #a037ff"><i class="bi bi-slash-lg"></i> Unreleased</span></p> <ul>{changelog.data.unreleased.map((add) => <li>{add}</li>)}</ul> : ""}
      </div>
    </article>
          )).reverse()
        }
    
    </div>
  </div>

  <script is:inline defer>
    const ChangeLogs = document.querySelectorAll(".cl");

for (const ChangeLog of ChangeLogs) {
  const id = ChangeLog.getAttribute("data-id");

  ChangeLog.addEventListener("click", function (e) {
    e.preventDefault();
    window.location.href = `/changelog/${id}`;
  });
}

  </script>
</Layout>
