---
import ClipsLayout from "../../layouts/ClipsLayout.astro";
import { GetClip, GetClipFromCollection, StartCron } from "../../utils/XClips";
import type { Clip } from "../../utils/XClips";
import { getCollection } from "astro:content";

const clips = (await GetClipFromCollection()) as Record<string, Clip>;

await StartCron();

const CreateFeatured = (clips: Record<string, Clip>) => {
   // Get 3 random clips
  const randomClips = Object.values(clips).sort(() => 0.5 - Math.random()).slice(0, 3);
  
  return randomClips
}
---

<ClipsLayout
  title="Clips"
  description="View all of the clips the community has contributed!"
>
  <section class="pt-0 pb-0">
    <div class="container-fluid px-0">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="wiki-banner-movies banner-style-2">
            <div
              class="owl-carousel owl-loaded owl-drag"
              data-dots="false"
              data-nav="true"
              data-desk_num="1"
              data-lap_num="1"
              data-tab_num="1"
              data-mob_num="1"
              data-mob_sm="1"
              data-autoplay="true"
              data-loop="true"
              data-margin="0"
            >
              {
                CreateFeatured(clips).map((clip) => {
                  return (
                  <div
                class="item"
                style={`background-image: url(${clip.video});`}
              >
                <div class="wiki-movie-contain-style-2 h-100">
                  <div class="container h-100">
                    <div class="row flex-row-reverse align-items-center h-100">
                      <div class="col-xl-6">
                        <div class="wiki-front-image">
                          <video src={clip.video}></video>
                          <a
                            href={`/clips/${clip.url
                              .replace("https://www.twitch.tv/", "")
                              .replace("/clip", "")}`}
                            class="playBut"
                          >
                            <svg
                              version="1.1"
                              xmlns="http://www.w3.org/2000/svg"
                              width="213.7px"
                              height="213.7px"
                              viewBox="0 0 213.7 213.7"
                              enable-background="new 0 0 213.7 213.7"
                              xml:space="preserve"
                            >
                              <polygon
                                class="triangle"
                                id="XMLID_17_"
                                fill="none"
                                stroke-width="7"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-miterlimit="10"
                                points="
                                                         73.5,62.5 148.5,105.8 73.5,149.1 "
                              ></polygon>
                              <circle
                                class="circle"
                                id="XMLID_18_"
                                fill="none"
                                stroke-width="7"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-miterlimit="10"
                                cx="106.8"
                                cy="106.8"
                                r="103.3"
                              >
                              </circle>
                            </svg>
                            <span>Watch Clip</span>
                          </a>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="wiki-tag-line"><span>Featured</span></div>
                        <div class="wiki-movie-info">
                          <h3>{clip.name}</h3>
                        </div>
                        <div class="wiki-movie-meta-holder">
                          <ul class="wiki-meta-after-title">
                            <li class="wiki-sen-rating">
                              <img
                                src="/clips/images/5881.png"
                                alt="author-image"
                              />
                              <a href={`https://www.twitch.tv/${clip.clipper}`} target="_blank" rel="noopener noreferrer" style="text-decoration: none; background-color: transparent; border-color: transparent;"><span>{clip.clipper}</span></a>
                            </li>
                          </ul>
                          <div class="wiki-meta-info">
                            <ul class="wiki-meta-after-excerpt">
                              <li>
                                <strong>Game: </strong>
                                <span>
                                  <a href={`https://www.twitch.tv${clip.game.url}`} target="_blank" rel="noopener noreferrer" style="color: #ffffff; text-decoration: none; background-color: transparent;"><span>{clip.game.name}</span></a>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="wiki-movie-action">
                          <div class="wiki-btn-container">
                            <a
                              href={`/clips/${clip.url
                                      .replace("https://www.twitch.tv/", "")
                                      .replace("/clip", "")}`}
                              class="wiki-button"
                            >
                              <i aria-hidden="true" class="fas fa-play"></i>
                              <span class="text">Watch Now</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  )
                })
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="wiki-section-padding-2">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
          <h4 class="wiki-heading-title">Clips</h4>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="wiki-style-2">
            <div
              class="owl-carousel owl-loaded owl-drag"
              data-dots="false"
              data-nav="true"
              data-desk_num="4"
              data-lap_num="3"
              data-tab_num="2"
              data-mob_num="1"
              data-mob_sm="1"
              data-autoplay="false"
              data-loop="false"
              data-margin="30"
            >
              {
                Object.values(clips).map((clip) => {
                  return (
                    <div class="item">
                      <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
                        <div class="wiki-carousel-movies-style-2 movie-grid style-2">
                          <div class="wiki-movie-contain">
                            <div class="wiki-movie-img">
                              <video src={clip.video} style="width: 100%;" />
                            </div>
                            <div class="wiki-info-contain">
                              <div class="wiki-movie-info">
                                <h3>
                                  <a
                                    href={`/clips/${clip.url
                                      .replace("https://www.twitch.tv/", "")
                                      .replace("/clip", "")}`}
                                  >
                                    {clip.name}
                                  </a>
                                </h3>
                              </div>
                              <div class="wiki-movie-meta-holder">
                                <ul>
                                  <li>
                                    <i
                                      class="bi bi-stopwatch"
                                      style="margin-right: 5px"
                                    />
                                    {clip.clip_duration}
                                  </li>
                                  <li>
                                    <i
                                      class="bi bi-eye-fill"
                                      style="margin-right: 5px"
                                    />{" "}
                                    {clip.views}
                                  </li>
                                  <li>
                                    <a
                                      href={`https://www.twitch.tv/${clip.clipper}`}
                                    >
                                      <span>{clip.clipper}</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  );
                })
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style is:inline>
    video::-webkit-media-controls {
      display: none;
    }

    /* Could Use thise as well for Individual Controls */
    video::-webkit-media-controls-play-button {
    }

    video::-webkit-media-controls-volume-slider {
    }

    video::-webkit-media-controls-mute-button {
    }

    video::-webkit-media-controls-timeline {
    }

    video::-webkit-media-controls-current-time-display {
    }
  </style>
</ClipsLayout>
