---
import { getCollection } from "astro:content";

const vtubers = await getCollection("vtubers").then((_) => {
  return _.sort((a, b) => {
    if (a.data.name < b.data.name) {
      return -1;
    } else if (a.data.name > b.data.name) {
      return 1;
    } else {
      return 0;
    }
  });
});

const guides = await getCollection("guides").then((_) => {
  return _.sort((a, b) => {
    if (a.data.title < b.data.title) {
      return -1;
    } else if (a.data.title > b.data.title) {
      return 1;
    } else {
      return 0;
    }
  });
});

const software = await getCollection("software").then((_) => {
  return _.sort((a, b) => {
    if (a.data.title < b.data.title) {
      return -1;
    } else if (a.data.title > b.data.title) {
      return 1;
    } else {
      return 0;
    }
  });
});
---

<div id="offcanvas-wiki" data-vw-offcanvas="overlay: true">
    <div class="vw-offcanvas-bar">
      <button class="vw-offcanvas-close" type="button" data-vw-close></button>
      <h5><i class="bi bi-webcam"></i> Vtubers</h5>
    <ul class="vw-nav vw-nav-default doc-nav">
      {
        vtubers.map((vtuber: any) => (
          <li class="sidebar_item">
            <a href={`/wiki/vtubers/${vtuber.slug}`}>{vtuber.data.name}</a>
          </li>
        ))
      }
    </ul>

    <h5><i class="bi bi-braces-asterisk"></i> Software</h5>
    <ul class="vw-nav vw-nav-default doc-nav">
      {
        software.map((software: any) => (
          <li class="sidebar_item">
            <a href={`/wiki/software/${software.slug}`}>{software.data.title}</a>
          </li>
        ))
      }
    </ul>

    <h5><i class="bi bi-book"></i> Guides</h5>
    <ul class="vw-nav vw-nav-default doc-nav">
      {
        guides.map((guide: any) => (
          <li class="sidebar_item">
            <a href={`/wiki/guides/${guide.slug}`}>{guide.data.title}</a>
          </li>
        ))
      }
    </ul>
    </div>
  </div>