---
interface CustomSeo {
  favicon?: string;
  img?: string;
  description?: string;
  title?: string;
  keywords?: string;
  generator?: string;
  ThemeColor?: string;
}

interface Props {
  title: string;
  description?:
    | string
    | "Welcome to the Vtuber Wiki! We have information about Vtubers of the world, and any information about software!";
  img?: string;
  favicon?: string;
  CustomSeo?: CustomSeo;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, img, favicon, CustomSeo } = Astro.props;

const seo: CustomSeo = CustomSeo || {};

function AddValues() {
  if (!seo.favicon) seo.favicon = `${favicon || "/favicon.ico"}`;

  if (!seo.img) seo.img = img || "/static/images/banner.jpg";

  if (!seo.description)
    seo.description =
      description ||
      "Welcome to the Vtuber Wiki! We have information about Vtubers of the world, and any information about software!";

  if (!seo.title) seo.title = `${title}`;

  if (!seo.keywords)
    seo.keywords =
      "VtuberWiki, VtubersWiki, Vtuber, Wiki, Wikipedia, anime, blog streaming, twitch, twitter, x, Virtual persona, VtuberWiki, Wiki, Wikipedia, Hololive Vtubers, Vtubers Wiki, Github, Vtuber, Vtubers, Open-source, Open-source projects, Open-source software, Open-source code, Open-source repositories";

  if (!seo.generator) seo.generator = "Github/Vercel";

  if (!seo.ThemeColor) seo.ThemeColor = "#74e7a0";

  return seo;
}

AddValues();

const makeTitle = (title: string) => {
  return `${title} | Vtuber Wiki`;
};

const makeKeywords = (keywords: string) => {
  return `${keywords}, VtuberWiki, VtubersWiki, Vtuber, Wiki, Wikipedia, anime, blog streaming, twitch, twitter, x, Virtual persona, VtuberWiki, Wiki, Wikipedia, Hololive Vtubers, Vtubers Wiki, Github, Vtuber, Vtubers, Open-source, Open-source projects, Open-source software, Open-source code, Open-source repositories`;
};

const Favicon = () => {
  const iconExt = seo.favicon?.split(".").pop()?.toLowerCase();

  switch (iconExt) {
    case "ico":
      return "image/x-icon";
    case "png":
      return "image/png";
    case "svg":
      return "image/svg+xml";
    case "gif":
      return "image/gif";
    case "jpg":
    case "jpeg":
      return "image/jpeg";
    default:
      return "image/x-icon"; // Default fallback
  }
};

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type={Favicon()} href={seo.favicon} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={seo.generator} />
    <title>{makeTitle(seo.title as string)}</title>
    <meta
      content={seo.ThemeColor}
      data-react-helmet="true"
      name="theme-color"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="@VtubersWiki" />
    <meta property="og:title" content={makeTitle(seo.title as string)} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={seo.img} />
    <meta property="og:url" content={Astro.url} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@VtubersWiki" />
    <meta name="twitter:creator" content="@VtubersWiki" />
    <meta name="twitter:title" content={makeTitle(seo.title as string)} />
    <meta name="twitter:description" content={seo.description} />
    <meta name="twitter:image" content={seo.img} />

    <!-- Additional Metadata -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="keywords" content={makeKeywords(seo.keywords as string)} />
    <meta name="author" content="@VtubersWiki" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={Astro.url} />
    <meta name="msapplication-TileColor" content={seo.ThemeColor} />

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/mdown.css" />
    <link rel="stylesheet" href="/static/css/utils.css" />
    <link rel="stylesheet" href="/static/css/extra.css" />
    <script is:inline src="/static/js/awesomplete.js"></script>
    <script is:inline src="/static/js/custom.js"></script>
    <script is:inline src="/static/js/uikit.js"></script>
    <script is:inline src="/static/js/@bootstrap/translate.js"></script>
    <script
      is:inline
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </head><div id="google_translate_element"></div>
  <script
    is:inline
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-X7C99GC9H4"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-X7C99GC9H4");
  </script>
  <script
    is:inline
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9106548277815950"
    crossorigin="anonymous"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
  />

  <noscript>
    <div class="nojs">
      <p>
        This website requires JavaScript. Please enable JavaScript in your
        browser.

        <a href="https://www.enable-javascript.com/">
          Here are the instructions how to enable JavaScript in your web browser
        </a>
      </p>
    </div>
  </noscript>

  <body>
    <div id="snackbar">Some text some message..</div>
    <Header />
    <slot />
    <Footer />

    <script is:inline src="/static/js/@include/commits.js"></script>
  </body>
</html>
