---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { fDate } from "developer-toolkit-utils";
import Sidebar from "../../../components/Wiki/Sidebar.astro";
import CreateSocials from "../../../utils/CreateSocials";

export async function getStaticPaths() {
  const blogEntries = await getCollection("vtubers");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { data } = entry;

const { Content } = await entry.render();

const socials = CreateSocials(data);
---

<Layout title={data.name} favicon={data.image} description={data.description} img={data.image}>
  <div class="vw-section">
    <div class="vw-container">
      <div class="vw-grid-large" data-vw-grid>
        <Sidebar />
        <div class="vw-width-1-1 vw-width-expand@m">
          <article class="vw-article">
            <h1 class="vw-article-title">Vtuber • {data.name}</h1>
            <p class="vw-text-lead vw-text-muted vtuber-desc" id="vtuber-desc">{data.description}
            </p>
            <br />
            {data.graduated ? <span class="badge badge-danger">Graduated</span> <br /> : ""}
            <p class="vw-text-lead vw-text-muted" id="vtuber-socials" style="text-align: center;">
              {
                socials.map((social: any) => (
                  <a href={social.url} target="_blank" rel="noopener" title={social.name}>
                    <img src={`/icons/${social.icon}.svg`} alt={social.icon} width="34" height="34" style="vertical-align: middle; margin-right: 6px;" title={social.iconUppercase} />
                  </a>
                ))
              }
              
            </p>
            <hr />

           
            <div class="article-content link-primary">
                <Content />
            </div>
            <hr class="vw-margin-medium" />
          </article>

          <div class="vw-section vw-text-center">
            <div class="vw-container vw-container-small">
              <div data-vw-scrollspy="cls: vw-animation-slide-bottom-medium; repeat: true">
                <p class="vw-text-lead vw-text-center">Want to expand this wiki page?</p>
                <a class="vw-button vw-button-primary vw-button-large vw-margin-medium-top" href={`https://github.com/vtuberwiki/wiki/blob/main/src/content/vtubers/${entry.slug}.md`}>Edit this page</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <script src="/js/docs.js" is:inline></script>
  <script src="/js/@include/@profile/classes.js" is:inline></script>
</Layout>
